<h1>Status Board</h1>
<p><a href="Status">/Status</a> View sample status board.&nbsp;&nbsp;&nbsp; &laquo;&laquo;&laquo; &nbsp; this is the fancy stuff</p>
<p><a href="Status/CheckAll">/Status/CheckAll</a> Aggregated JSON result, check this from uptime monitor tools</p>
<p><a href="Status/CheckAllFailOnWarning">/Status/CheckAllFailOnWarning</a> Aggregated JSON result, check this from uptime monitor tools, return HTTP Status 500 on warnings</p>
<p><a href="Status/CheckAllFailOnError">/Status/CheckAllFailOnError</a> Aggregated JSON result, check this from uptime monitor tools, return HTTP Status 500 on errors</p>
<p><a href="Status/Directory">/Status/Directory</a> Directory of all checks in JSON format</p>
<p><a href="Status/Check/AlwaysOkCheck">/Status/Check/AlwaysOkCheck</a> JSON result for one check</p>